body {
    background-color: #000;
    color: #fff;
    outline: none;
}

.header {
    margin-bottom: 4rem;
    margin-top: 4rem;
}

#vertical-line {
    font-size: 22px;
    animation: blink 1s linear infinite alternate;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.typewriter {
    color: #fff;
    text-align: center;
    font-size: 24px;
    height: 5rem;
    display: inline-block;
}

#type-of-lang {
    height: 2rem;
    width: 20%;
    justify-content: center;
}

textarea {
    width: 100%;
    height: 15rem;
    resize: none;
    border: none;
    font-size: 24px;
}

.translate {
    padding: 15px 45px;
    margin-top: 4rem;
    border: none;
    transition: 0.5s;
    font-size: 18px;
}

.translate:hover {
    transform: scale(1.1);
}

.exchange-img {
    color: #fff;
    height: 2rem;
    width: 2rem;
    align-self: center;
    transition: 1s;
    margin: 15px;
    cursor: pointer;
}


/* .exchange-img: {
    transform: rotate(360deg);
} */